.button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: var(--border-radius-s);
  width: 100%;

  &.primary {
    color: var(--color-white);
    background-color: var(--color-violet);
  }
  
  &.secondary {
    color: var(--color-violet);
    background-color: var(--color-light-violet);
  }
}
