.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 80px;
  margin-top: -40px;
  border-radius: var(--border-radius-s);
  padding: .75rem;
  background-color: var(--color-white);
  z-index: 150;

  &__input {
    flex-grow: 1.5;
  }
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border-radius: var(--border-radius-s);

    &.primary {
      background-color: var(--color-violet);
    }
  }
}