/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-white: #ffffff;
  --color-violet: #5964e0;
  --padding-container: 1.5rem;
  --border-radius-s: 5px;
}